@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

*{
   font-family: 'Poppins', sans-serif;
   margin:0; 
   padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}

body{
   height: 100vh;
   width: 100%;
   background: linear-gradient(45deg, #2b2d42, #8d99ae, #edf2f4, skyblue, deepskyblue);
   background-size: 300% 500%;
   animation: color 12s ease-in-out infinite;
}

.container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
}

.containertable{
   min-height: 100vh;
   display: inline;
}

.container .content{
   text-align: center;
}


.container .container-fluid h1 span{
   background: #8d99ae;
   color:#fff;
   border-radius: 5px;
   padding:0 15px;
   margin-left: 5px;
   margin-right: 10px;
   font-size: 25px;
}


.container .container-fluid h1{
   color:#edf2f4;
   font-size: 15px;
   margin-top: 10px;
   padding: 0 5px;
}

.containertable .container-fluid h1 span{
   background: #8d99ae;
   color:#fff;
   border-radius: 5px;
   padding:0 15px;
   margin-left: 5px;
   margin-right: 10px;
   font-size: 25px;
}

.containertable .container-fluid h1{
   color:#edf2f4;
   font-size: 15px;
   margin-top: 10px;
   padding: 0 5px;
}

.container .content h1{
   font-size: 50px;
   color:#333;
}

.container .content h2{
   font-size: 20px;
   color:#333;
   
}

.container .content h1 span{
   color:#2b2d42;
}

.container .content p{
   font-size: 25px;
   margin-bottom: 20px;
}

.container .content .btn{
   display: inline-block;
   padding:10px 30px;
   font-size: 20px;
   background: #2b2d42;
   color:#fff;
   margin:0 5px;
   text-transform: capitalize;
}

.container .content .btn:hover{
   background: #2b2d42;
}

.form-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
}

@keyframes color{
   0%{
      background-position: 0 50%;
   }
   50%{
      background-position: 100% 50%;
   }
   100%{
      background-position: 0 50%;
   }
}

.form-container form{
   padding:20px;
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   background: #fff;
   text-align: center;
   width: 500px;
}

.form-container form h3{
   font-size: 30px;
   text-transform: uppercase;
   margin-bottom: 10px;
   color:#333;
}

.form-container form input,
.form-container form select{
   width: 100%;
   padding:10px 15px;
   font-size: 17px;
   margin:8px 0;
   background: #edf2f4;
   border-radius: 5px;
}

.form-container form select option{
   background: #fff;
}

.form-container form .form-btn{
   background: #8d99ae;
   color:#fff;
   text-transform: capitalize;
   font-size: 20px;
   cursor: pointer;
}

.form-container form .form-btn:hover{
   background: #2b2d42;
   color:#edf2f4;
}

.form-container form p{
   margin-top: 10px;
   font-size: 20px;
   color:#333;
}

.form-container form p a{
   color: #8d99ae;
}

.form-container form .error-msg{
   margin:10px 0;
   display: block;
   background: crimson;
   color:#fff;
   border-radius: 5px;
   font-size: 20px;
   padding:10px;
}

.container table tr td a{
   color: black;
   text-decoration: none;  
}

.containertable table tr td a button{
   background: #c0e4ec; 
   padding: 5px 8px;
   border-radius: 8px;
   border: 2px solid white;
}

.containertable table tr td a button:hover{
   background: #2b2d42;
   color:#fff;
}

.containertable table{
   margin-top: 60px; text-align: center; border-collapse: collapse;
   width: 95%; margin-left: auto;
   margin-right: auto; 
   border-collapse:separate;
   border:solid white 3px;
   border-radius:6px;
}

.container .offcanvas-body ul li a i{
   padding-left: 10px; 
   padding-bottom: 10px;
}

.containertable .offcanvas-body ul li a i{
   padding-left: 10px; 
   padding-bottom: 10px;
}

#show-hide {
   position: absolute;
   right: 560px;
   bottom: 227px;
}

.fa-regular {
   color: #2b2d42;
}

.nav-item{
   padding: 5px;
   border-radius: 5px;
}
